@font-face {
    font-family: 'Poppins Light';
    src: url('./fonts/PoppinsLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins Light', regular;
    background-color: #f2a4a6;
    color: #9e4f58;
    text-align: center;
}

h1 {
    font-family: 'Poppins Light', regular;
    text-align: center;
    font-style: italic;
}

.container {
    width: 80%;
    margin: 40px auto;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#no-btn-container {
    margin-top: 20px;
}

.pleading-container {
    margin-bottom: 20px;
    display: none;
}

.pleading-container.show {
    display: block;
}

.pleading-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.begging-text {
    font-size: 18px;
    font-style: 'Poppins', sans-serif;
    color: #666;
}

#yes-btn {
    background-color: #5ae85a; /* Green */
    color: #FFFFFF; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners */
}

#no-btn {
    background-color: #f44949; /* Red */
    color: #FFFFFF; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners */
}

#yes-btn:hover {
    background-color: #4fcc4f; /* Lighter green */
}

#no-btn:hover {
    background-color: #ed5a5a; /* Lighter red */
}

img[src=""] {
    display: none;
}

.panel {
    padding: 20px;
    border-radius: 20px;
    background-color: #f3e2c8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.panel img {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}